@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #5e7a7d;
    font-family: 'Space Mono', sans-serif;
    font-size: 0.92rem;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c5e4e7;
}

main {

}


header {
    margin: 2rem auto;
    text-align: center;
}

.splitter {
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    padding: 2rem;
    border-radius: 18px;
    gap: 1.5rem;
    width: 55rem;
    /*height: 28rem;*/
    margin: 0 auto;
    /*box-shadow: 1.5px 1.5px 20px rgba(38, 192, 171, 1);*/
}

.splitter-input {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splitter-input-bill {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}
#s-input-bill {
    margin-top: 0.3rem;
    background-color: #f4fafa;
    color: #00494d;
    border: none;
    text-align: right;
    font-size: 1.3rem;
    padding: 0.6rem 0.9rem 0.6rem 0.9rem; 
    border-radius: 5px;
    background-image: url(imagens/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0.9rem;
}
#s-input-bill:hover {
    cursor: pointer;
}
#s-input-bill:focus {
    outline: 2.3px solid #26c0ab;
}
#s-input-bill::-webkit-input-placeholder {
    color: #7f9c9f;
}
#s-input-bill::-moz-placeholder {
    color: #7f9c9f;
}

.splitter-input-tip {
    display: flex;
    flex-direction: column; 
}
.s-input-tip-title {
    margin-bottom: 0.2rem;;
}
.s-input-tip-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
}
.s-input-tip-button {
    background-color: #00494d;
    color: #ffffff;
    font-size: 1.2rem;
    width: 6.8rem;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
}
.s-input-tip-button:hover {
    background-color:#9FE8DF;
    color: #00494d;
    cursor: pointer;
}
.clicked {
    background-color: #26c0ab;
    color: #00494d; /*mudar a cor via js*/
}
#tip-input-custom {
    box-sizing: border-box;
    background-color: #f4fafa;
    color: #00494d;
    font-size: 1.3rem;
    width: 6.8rem;
    border: none;
    border-radius: 5px;
    text-align: right;
    padding-right: 0.9rem;
}
#tip-input-custom:hover {
    cursor: pointer;
}
#tip-input-custom:focus {
    outline: 2.3px solid #26c0ab;
}
#tip-input-custom::-webkit-input-placeholder {
    color: #5e7a7d;
    position: absolute;
    padding-left: 0.9rem;
    padding-top: 0.3rem;
}

.splitter-input-num-people {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;   
}
.s-input-num-people-label {
    display: flex;
    justify-content: space-between;
}
.label-attention {
    color: red;
}
#s-input-num-people {
    margin-top: 0.2rem;
    background-color: #f4fafa;
    color: #00494d;
    border: none;
    text-align: right;
    font-size: 1.3rem;
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
    border-radius: 5px;
    background-image: url(imagens/icon-person.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0.9rem;
}
#s-input-num-people:hover {
    cursor: pointer;
}
#s-input-num-people:focus {
    outline: 2.3px solid #26c0ab;   
}
#s-input-num-people::-webkit-input-placeholder {
    color: #7f9c9f;
}
#s-input-num-people::-moz-placeholder {
    color: #7f9c9f;
}
.input-attention {
    outline: 2.3px solid red;
}

.splitter-output {
    width: 50%;
    background-color: #00494d;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    padding: 2rem;
}

.splitter-output-tip-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s-output-tip-amount-text {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.output-title-text {
    color: #ffffff;
}
.output-sub-title-text {
    font-size: 0.8rem;
}
#s-output-tip-amount {
    width: 70%;
    text-align: right;
    font-size: 2.8rem;
    color:#26c0ab;
    border: none;
    background: none;
    outline: none;
}
#s-output-tip-amount::-webkit-input-placeholder {
    color: #26c0ab;
}
#s-output-tip-amount::-moz-placeholder {
    color: #26c0ab;
}

.splitter-output-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.s-output-total-text {
    width: 30%;
    display: flex;
    flex-direction: column;
}
#s-output-total {
    width: 70%;
    text-align: right;
    font-size: 2.8rem;
    color: #26c0ab;
    border: none;
    background: none;
    outline: none;
}
#s-output-total::-webkit-input-placeholder {
    color: #26c0ab;
}
#s-output-total::-moz-placeholder {
    color: #26c0ab;
}

.reset-button-normal {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #c5e4e7;
    opacity: 20%;
    margin-top: 7.6rem;
    font-size: 1.2rem;
}

.reset-button-normal:hover {
    background-color: #9FE8DF;
    opacity: 100%;
    color: #00494d;
    cursor: pointer;
}

.active {
    background-color: #26c0ab;
    opacity: 100%;
    color: #00494d; /*mudar a cor via js*/
}

@media screen and (max-width: 375px) {
    * {
        font-size: 0.8rem;
    }

    .body {
    }

        /*body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #c5e4e7;
    }*/

    header {
        margin: 2rem auto;
        text-align: center;
    }

    .splitter {
        flex-direction: column;

        width: 100vw;
        height: 48rem;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .splitter-input {
        box-sizing: border-box;
        width: 100%;
    }

    .splitter-output {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5rem;
    }

    .reset-button-normal {
        margin-top: 3rem;
    }

}

@media screen and (max-width: 412px) {
    * {
        font-size: 0.8rem;
    }

    .body {
        margin-top: 0;
    }

    .splitter {
        flex-direction: column;

        width: 100vw;
        height: 50rem;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .splitter-input {
        box-sizing: border-box;
        width: 100%;
    }

    .splitter-output {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5rem;
    }

    .reset-button-normal {
        margin-top: 3rem;
    }

}

